body{
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.test{border:#0f0 1px solid}
.app-wrapper{
  margin: auto;
  text-align: left;
  width: 750px; 
  min-height: 1668px; 
  background: #ae0a0a url('../images/bg.png') no-repeat 0 0/100% auto;
}
.title{
  height: 83px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}
.block-video{
  height: 380px;
  box-sizing: border-box;
  padding-top: 14px; 
  text-align: center;
}
.video-wrapper{
  margin: auto;
  width: 720px; 
  height: 345px;
  box-sizing: border-box;
  padding: 10px; 
  border-radius: 15px; 
  background-color: #c61113; 
  box-shadow: 1px 2px 10px rgba(0,0,0,.1);
}
.video-view{
  width: 700px; 
  height: 325px; 
  border-radius: 10px; 
  overflow: hidden;
  position: relative;
}
.video-view .mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  line-height: 325px;
  opacity: 1;
}
.video-view .mask.close{
  opacity: 0;
  transition:all 2s ease;
}
.video-view .mask img{
  vertical-align: middle;
  opacity: 0.5;
}
.video-view .mask:hover img{
  opacity: 1;
  transition:all 0.5s ease;
}


.block-ad-slogan{
  height: 166px;
  padding-top: 0px;
  box-sizing: border-box; 
}
.block-ad-content{
  height: 275px;
  box-sizing: border-box; 
  padding: 9px 0 0 0px;
  position: relative;
}

.block-ad-content span{
  color: #ffeec0; 
  font-size: 64px; 
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  display: block; padding-left: 150px; padding-top: 9px;
}
#wx-placeholder-1{
-webkit-animation-name: test;        
-webkit-animation-duration: 6s;     
-webkit-animation-fill-mode: both;  
-webkit-animation-iteration-count: infinite;  
-webkit-transform-origin: center;    
-webkit-transform-origin:50% 50%;
-webkit-animation-timing-function:linear;    
z-index: 1;
}
@-webkit-keyframes test {
0%  { -webkit-transform: translate(0px, 0px) scaleX(1.00); transform: translate(0px, 0px) scaleX(1.00);  transform-origin: center bottom; }
6%  { -webkit-transform: translate(5px, 0px) scaleX(1.00); transform: translate(5px, 0px) scaleX(1.00); }
11% { -webkit-transform: translate(-4px, 0px) scaleX(1.00); transform: translate(-4px, 0px) scaleX(1.00); }
15% { -webkit-transform: translate(3px, 0px) scaleX(1.00); transform: translate(3px, 0px) scaleX(1.00); }
18% { -webkit-transform: translate(-2px, 0px) scaleX(1.00); transform: translate(-2px, 0px) scaleX(1.00); }
20% { -webkit-transform: translate(1px, 0px) scaleX(1.00); transform: translate(1px, 0px) scaleX(1.00); }
21% { -webkit-transform: translate(0px, 0px) scaleX(1.00); transform: translate(0px, 0px) scaleX(1.00); }
25% { -webkit-transform: translate(0px, 0px) scaleX(1.1) scaleY(1.05); transform: translate(0px, 0px) scaleX(1.1) scaleY(1.05);  }
30% { -webkit-transform: translate(0px, 0px) scaleX(0.9) scaleY(0.95) ; transform: translate(0px, 0px) scaleX(0.9) scaleY(0.95) ; }
35% { -webkit-transform: translate(0px, 0px) scaleX(1.2) scaleY(1.05); transform: translate(0px, 0px) scaleX(1.2) scaleY(1.05); }
40% { -webkit-transform: translate(0px, 0px) scaleX(1) scaleY(1); transform: translate(0px, 0px) scaleX(1) scaleY(1); }
60% { -webkit-transform: translate(5px, 0px) scaleX(1); transform: translate(5px, 0px) scaleX(1); }
80% { -webkit-transform: translate(-4px, 0px) scaleX(1); transform: translate(-4px, 0px) scaleX(1); }
90% { -webkit-transform: translate(3px, 0px) scaleX(1); transform: translate(3px, 0px) scaleX(1); }
100% { -webkit-transform: translate(-2px, 0px) scaleX(1); transform: translate(-2px, 0px) scaleX(1); }
}

.block-ad-content p{
  color: #ffeec0; font-size: 40px; margin: 0; padding: 15px 0 0 45px;
}
.block-types{
  height: 180px;
  box-sizing: border-box; 
  padding-top: 30px;
  text-align: center;
}
.block-list{
  height: 300px;
  text-align: left;
}
.block-list .list-ul{
  list-style-type: none;
  padding: 0 0 0 80px;
  margin: 0;
}
.block-list li{
  font-size: 36px;
  font-weight: bold;
  color: #ffeec0;
  line-height: 65px;
  padding-left: 62px;
  background: url(../images/icon-checked.png) no-repeat left center;
  position: relative;
}
.block-last{
  padding-top: 45px;
  text-align: center;
}

.common-line{
  height: 19px;
  background: url(../images/space-line.png) no-repeat center;
}


#copy1{
  position: absolute; top: 15px; right: 50px; cursor: pointer; z-index: 2;
  display: inline-block; width: 112px; height: 56px; border: 0;
  background: url(../images/copy.png) transparent; outline: none;
  transition:all 0.3s ease
}
#copy1:hover, #copy2:hover{ transform: scale(1.2); }
#copy1:visited, #copy2:visited{ transform: scale(1); }
#copy2{
  position: absolute; top: 13px; right: 50px; cursor: pointer;
  display: inline-block; width: 90px; height: 40px; border: 0;
  background: url(../images/copy2.png) transparent; outline: none;
  transition:all 0.3s ease
}