@charset "utf-8";
body{ font-size: 14px;}

/* 字号 */
.sz20{font-size: 20px;}
.sz22{font-size: 22px;}

/* 代码块重写 */
.markdown-section pre { line-height: 1rem; margin: 0.2em 0 0.8em 0; }
.markdown-section pre>code { padding: 0px 5px; }
.markdown-section p, .markdown-section ul{ line-height: 1rem; }

.markdown-section p{ margin: 0.8em 0 0.2em 0;}

.markdown-section h1 { font-size: 2rem; margin: 45px 0 0.5rem }
.markdown-section h2 { font-size: 1.75rem; margin: 40px 0 .4rem }
.markdown-section h3 { font-size: 1.5rem; margin: 35px 0 .3rem }
.markdown-section h4 { font-size: 1.25rem; margin: 30px 0 .2rem }
.markdown-section h5 { font-size: 1rem; margin: 25px 0 .1rem }
.markdown-section h6 { color: #777; margin: 20px 0 .1rem; font-size: 1rem }

.markdown-section ol, .markdown-section p, .markdown-section ul{line-height: 1rem;}
.markdown-section ol, .markdown-section ul{margin: 8px 0;}
.markdown-section ol li, .markdown-section ul li{padding-bottom: 8px;}

:root {
    /* docsify-tabs */
    --docsifytabs-border-color: #ededed;
    --docsifytabs-tab-highlight-color: purple;
}
/* docsify-tabs */
.docsify-tabs__tab~.docsify-tabs__tab{outline:none;} /* 去除蓝框 */
.docsify-tabs--classic .docsify-tabs__tab:first-of-type {outline:none;}

.col{ background: #f6f6f6; padding: 5px; border: #fff 1px solid; text-align: center}


.class1 .col,
.class1 .col,
.class1 .col,
.class1 .col,
.class1 .col,
.class1 .col,
.class2 .col,
.class3 .col{ margin: 0; line-height:30px; border:1px solid #f6f6f6; background-color:#cec}
.class1 .col h1,
.class1 .col h2,
.class1 .col h3,
.class1 .col h4,
.class1 .col h5,
.class1 .col h6{ margin: 0; line-height:30px; color:#2c3e50}
.class3 .col font{ display:block}

.class2 strong,
.class2 del,
.class2 em{ color:#2c3e50}

.class4 .col{height:110px; background-color:#cec}
.class4 ul,.class4 ol{text-align: left;}

.class5 .col{height:95px; text-align: left; padding-left:15px}

.class6 .col{height:120px; background: transparent; text-align: left;}
.class6 .col:first-child{ border-right:#f6f6f6 1px solid;}
.class6 .col:last-child{ border-left:#f6f6f6 1px solid; font-size: 12px;}
.class6 tr:nth-child(1){ background: #f6f6f6; font-weight: bold;}
.class6 tr:nth-child(2n){ background: transparent; }

.regclass{ font-size: 12px; color: #bcc;}
.regclass strong{ font-size: 16px; color: #000;}

pre[data-lang].close{
  height: 20px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
pre[data-lang].close:before,pre[data-lang].close:after{
  position: absolute;
  top: 0;
  content: '' !important;
  width: 15px;
  height: 10px; 
  padding: 0;
  border-bottom: #ddd 2px solid;
  cursor: pointer;
}
pre[data-lang].close:before{
  left: 50%;
  transform-origin: left bottom;
  transform: rotate(-30deg) translate(-1px, 2px);
  
}
pre[data-lang].close:after{
  right: 50%;
  transform-origin: right bottom;
  transform: rotate(30deg) translate(1px, 2px);
}

.image-item{
  margin: 0 !important; padding: 0;
  display: inline-block;
}
.image-item img{
  height: 30px;
}
.image-item.active img{
  height: auto;
}

.color-group{ color: #ccc;}
.color-group i{font-weight: bold; font-style: normal;}
.color-group i:nth-of-type(1){color: #318ed8;}
.color-group i:nth-of-type(2){color: #7b31d8;}
.color-group i:nth-of-type(3){color: #b338a1;}
.color-group i:nth-of-type(4){color: #bc7e2f;}
.color-group i:nth-of-type(5){color: #81a028;}
.color-group i:nth-of-type(6){color: #28a041;}
.color-group i:nth-of-type(7){color: #0095be;}
.color-group i:nth-of-type(8){color: #2939b4;}
.color-group i:nth-of-type(9){color: #7f29b4;}

.color-group.color-card i{font-weight: bold; font-style: normal; color: #fff; padding:0 2px}
.color-group.color-card i:nth-of-type(1){background-color: #569fda;}
.color-group.color-card i:nth-of-type(2){background-color: #976adb;}
.color-group.color-card i:nth-of-type(3){background-color: #c168b2;}
.color-group.color-card i:nth-of-type(4){background-color: #c89967;}
.color-group.color-card i:nth-of-type(5){background-color: #9cb163;}
.color-group.color-card i:nth-of-type(6){background-color: #5eb271;}
.color-group.color-card i:nth-of-type(7){background-color: #4eacc8;}
.color-group.color-card i:nth-of-type(8){background-color: #7a88de;}
.color-group.color-card i:nth-of-type(9){background-color: #b97fdd;}


.collapse{}
/* background: linear-gradient(#3db3ef, #0fa2ec); */
.collapse c{ display: inline-block; width: 18px; height: 12px; border: #a5bcff 0px solid; border-radius: 2px; background: linear-gradient(#eee, #ddd); position: relative; vertical-align: baseline; }
.collapse c:before, .collapse c:after{ position: absolute; top: 0; content: ''; width: 6px; height: 1px; border-bottom:#999 1px solid; }
.collapse c:before{left: 50%; transform: rotate(-35deg) translate(-3px, 3px);}
.collapse c:after{right: 50%; transform: rotate(35deg) translate(3px, 3px); }
.c-item-1, .c-item-2, .c-item-3, .c-item-4, 
.c-item-5, .c-item-6, .c-item-7, .c-item-8, .c-item-9,
.c-item-10, .c-item-11, .c-item-12, .c-item-13, .c-item-14, 
.c-item-15, .c-item-16, .c-item-17, .c-item-18, .c-item-19, .c-item-20{ 
  display: none; border:#eee 1px solid; box-sizing: border-box; padding: 5px 20px; color: #555; 
}

.c-atv-1 c[i='1'], .c-atv-2 c[i='2'], .c-atv-3 c[i='3'], .c-atv-4 c[i='4'], 
.c-atv-5 c[i='5'], .c-atv-6 c[i='6'], .c-atv-7 c[i='7'], .c-atv-8 c[i='8'], .c-atv-9 c[i='9'],
.c-atv-10 c[i='10'], .c-atv-11 c[i='11'], .c-atv-12 c[i='12'], .c-atv-13 c[i='13'], .c-atv-14 c[i='14'], 
.c-atv-15 c[i='15'], .c-atv-16 c[i='16'], .c-atv-17 c[i='17'], .c-atv-18 c[i='18'], .c-atv-19 c[i='19'], .c-atv-20 c[i='20']{ transform:rotate(180deg)}

.c-atv-1 .c-item-1, .c-atv-2 .c-item-2, .c-atv-3 .c-item-3, .c-atv-4 .c-item-4, 
.c-atv-5 .c-item-5, .c-atv-6 .c-item-6, .c-atv-7 .c-item-7, .c-atv-8 .c-item-8, .c-atv-9 .c-item-9,
.c-atv-10 .c-item-10, .c-atv-11 .c-item-11, .c-atv-12 .c-item-12, .c-atv-13 .c-item-13, .c-atv-14 .c-item-14, 
.c-atv-15 .c-item-15, .c-atv-16 .c-item-16, .c-atv-17 .c-item-17, .c-atv-18 .c-item-18, .c-atv-19 .c-item-19, .c-atv-20 .c-item-20{ display: block;}
 
/* 普通引用 */
.quote{border-style:solid; border-width:1px 1px 1px 3px; border-color: #f6f6f6 #f6f6f6 #f6f6f6 #37b0ef; padding-left:10px;}

/* 箭头引用 */
.quote-arrow{border-style:solid; border-width:1px 1px 1px 2px; border-color: #f6f6f6 #f6f6f6 #f6f6f6 #ddd; padding-left:20px !important; position: relative;}
.quote-arrow:before{content:''; display:inline-block; border-style:solid; border-width:9px 0px 9px 12px; 
  border-color:transparent transparent transparent #999; position:absolute; top:5px; left:0px;}
/* 卡片 */
.card{ padding-left:10px; padding-right:20px; box-shadow:1px 1px 5px rgba(100,100,100,.1); display:inline-block;}

.inline{display: inline-block;}

.css{ display:block; border:#f00 1px solid;}