@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dessth');
  src:  url('fonts/icomoon.eot?dessth#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dessth') format('truetype'),
    url('fonts/icomoon.woff?dessth') format('woff'),
    url('fonts/icomoon.svg?dessth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move:before {
  content: "\e90a";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-config:before {
  content: "\e909";
}
.icon-clear:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e907";
}
.icon-detail:before {
  content: "\e900";
}
.icon-info:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e903";
}
.icon-detailb:before {
  content: "\e904";
}
.icon-infob:before {
  content: "\e905";
}
.icon-helpb:before {
  content: "\e906";
}
